* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-image: url(jez-timms-jIejftgdU3w-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.wrapper {
    width: 650px;
    height: auto;
    margin-left: 50%;
    border-radius: 30px;
    background-color: rgba(82, 82, 82, 0.2);
    box-shadow: 0 0 10px #000;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    color: rgba(255, 255, 255);
    border-radius: 30px;
    /* background-color: #00ba40; */
    text-transform: uppercase;
}

.top h1 {
    font-size: 40px;
}

.top p {
    margin-top: 10px;
    font-size: 24px;
}

.botton {
    padding: 40px 40px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 32px;
    color: #fff;
}

input,
select {
    margin-bottom: 25px;
    padding: 8px 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 32px;
    color: #fff;
    background-color: rgba(82, 82, 82, 0.5);
    border: 1px solid rgba(185, 185, 185, 0.2);
}

.count {
    display: block;
    margin: 20px auto;
    padding: 20px 10px;
    width: 60%;
    font-size: 32px;
    border-radius: 10px;
    color: #fff;
    background-color: #434e59;
    border: none;
    cursor: pointer;
    transition: 0.35;
}

.count:hover {
    background-color: #262c32;
}

.cost-info {
    display: none;
    margin: 30px auto;
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.cost {
    font-weight: bold;
}

.error {
    font-size: 24px;
    color: rgb(199, 63, 29);
    text-align: center;
}
